**

!.git*

!/*.nft
!/README.md

!/.subvol-ext/
!/.subvol-ext/**

!/includes/
!/includes/*.nft

!/includes/antiddos_ingress/
!/includes/antiddos_ingress/template

!/scripts/
!/scripts/**

!/vars/
!/vars/*.nft
